.login-container {
    max-width: 400px; 
    margin: 100px auto; 
    padding: 20px; 
    background-color: white; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.staff-btn {
    background-color: #172554 !important;
    border: none;
    height: 40px;
    width: 30%;
    color: aliceblue;
    border-radius: 5px;
}

.super-log{
    display: grid;
}

.super-log a {
    background-color: red;
    color: white;
    height: 40px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px; 
    transition: font-size 0.3s ease; 
  }
  
  .super-log a:hover {
    font-size: 20px; 
    text-decoration: none;
  }