
.nav-link {
  background-color: rgb(224, 47, 47) !important;  
  color: white !important;            
  transition: background-color 0.3s ease, color 0.3s ease; 
  padding: 0.75rem 1rem;            
  border-radius: 0.375rem;          
}


.nav-link:hover {
  background-color: white !important; 
  color: rgb(224, 47, 47) !important;
}


.nav-link.active {
  background-color: white !important; 
  color: rgb(224, 47, 47) !important;  
}

.nav-link.active:hover {
  background-color: white !important; 
  color: rgb(224, 47, 47) !important;             
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.dropdown-content.open {
  max-height: 500px;
}


.dash{
  border-bottom: 5px solid white;
}

.dash h4:hover{
  font-size: 30px;
}

.dash-items{
  margin: 30px 0;
  padding: 20px 0;
}