    .staff-view-inventory-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    left: 15rem;
    width: 80%;
    top: 2rem;
    height: 100vh;
    flex-direction: column;
    display: flex;
  }
  
  .table {
    width: 100%;
    color: white; /* Text color for the table */
  }
  
  .table th, .table td {
    border: 1px solid white; /* Border for the table cells */
    padding: 10px;
    text-align: left;
  }
  