.view-inventory-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  left: 17.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
  width: 85%;
  top: 2rem;
  
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  
}

.table th {
  background-color: white;
}

.inventory-list {
  padding: 10px;
}

#branch {
  background-color: #052e16;
  color: white;
  height: 30px;
  width: 20%;
  border: none; /* Remove the border */
  border-radius: 5px;
  margin: 30px;
  padding: 5px;
  align-items: center;
  text-align: center;
  justify-content: center;
  outline: none; /* Remove outline on focus */
}

/* When hovering over the select box */
#branch:hover {
  cursor: pointer;
}

/* Style for the options inside the dropdown */
#branch option {
  background-color: white !important;
  color: #052e16 !important;
  border: none; /* Remove any border for options */
}

/* Ensure no background color for selected/focused options */
#branch option:checked, 
#branch option:hover {
  background-color: white !important;
  color: #052e16 !important;
  outline: none !important; /* Remove outline on hover */
  border: none; /* Remove border for focused options */
}

/* Additional styling for better appearance */
#branch::-ms-expand {
  display: none; /* Hide default dropdown arrow in IE */
}


.edit-btn,
.del-btn,
.view-btn {
  background-color: #052e16 !important;
  color: white;
  width: 20%;
  border: none;
  margin: 10px;
  padding: 10px 0; /* Adjust padding for better centering */
  border-radius: 5px;
  height: 4vh;
  display: flex; /* Enable flexbox for centering */
  align-items: center; /* Vertically center text */
  justify-content: center; /* Horizontally center text */
  text-align: center; /* Center text inside button */
  cursor: pointer; /* Change cursor on hover */
}

.edit-btn:hover,
.del-btn:hover,
.view-btn:hover {
font-size: larger;
}

.action-btn{
  display: flex;
  justify-content: center;

}

/* 
.pagination {
  background-color: #052e16; 
  border-radius: 5px; 
} */

.pagination .page-item {
  color: white;
  background-color: #004b2f !important;
}

.pagination .page-link {
  color: white;
  background-color: #004b2f !important;
}

.pagination .page-link:hover {
  background-color: #004b2f !important; /* Optional: color on hover */
}

.pagination .active .page-link {
  background-color: #006d49 !important; /* Optional: color for active page */
  color: white; /* Text color for active page */
}

.button{
  background-color: #004b2f !important;
}

