.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  position: relative;
  left: 17rem;
  padding: 20px;
  width: 85%;
}





.sales-records-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total-sales {
  margin-top: 20px;
}

.return-row {
  background-color: #f8d7da; /* Light red for return rows */
}

.type-sale {
  color: green; /* Sale type color */
}

.type-return {
  color: rgb(224, 47, 47); /* Return type color */
}

/* Add styles for the pagination */
.pagination-container-g {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 20px;
}

.pagination-btn-g {
  background-color: transparent ;
  color: #052e16;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  font-weight: bold;
  
}

.pagination-btn-g:hover {
  background-color: #1d3b28;
}

.pagination-btn-g:disabled {
  background-color: #1d3b28; /* Darker shade for disabled state */
  cursor: not-allowed;
  opacity: 0.6;
}

.pagination-btn-g .active {
  background-color: #1d3b28; /* Highlight active page button */
  color: #fff;
  border-radius: 4px;
}

