.view-staffs-container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 17rem;
    height: 100vh;
    width: 85%;
    top: 3rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }

  .table td button {
    margin-right: 5px; /* Space between buttons */
    padding: 5px 10px;
    background-color: #052e16; /* Green background */
    color: white; /* White text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .table td button:hover {
    background-color: #052e16; /* Darker green on hover */
  }
  
  .staffs-list {
    padding: 10px;
  }

  .icon-button {
    margin-right: 15px;
    font-size: 1.2em;
    color: #052e16;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .icon-button:hover {
    color: #052e16;
  }
  