.view-products-container {
    position: relative;
    left: 17rem;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    height: 100vh;
    width: 86%;
    
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    background-color: white;
    padding: 8px;
  }
  
  .table th {
    background-color: #f2f2f2;
  }

  .products-list{
    padding: 10px;
  }

  .pagination {
    margin-top: 20px;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #052e16;
    color: white;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: darkred; /* Darker shade for hover effect */
  }
  